
#navbar-list > a{
    margin: 0 30px;
}

#navbar{
    background-color: #aacbeb;
}


#logo{
    height: auto;
    width: 7vw;

}

#navbar-list > a:hover{
    color: rgb(172, 5, 5);
}

.nav-2{
   display: contents !important;
}

#banner{
    height: 80vh !important;
    margin-top: 30px;
    padding: 40px;
}

.carousel-item > img {
    height: 80vh;
    width: 100vw;
}

#intro {
    text-align: center;
    margin-top: 64px;
    color: #3a2e2e; 
}

#points{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    margin: 10vh auto;
}

#points > span > i{
    font-size: 2.5rem !important;
    color: #0e3e6e;
    margin: 20px 0;
}


#teacher{
    justify-content: center;
    margin: 3vh auto;
}

.col{
    text-align: center;
}

#teach{
    text-align: center;
}


#teacher-img{
    width: 10vw;
    height: 10vw;
    border-radius: 100%;

    
}

#carousel-2{
    width: 60vw !important;
    height: 23vh;
    margin: auto;
    border: 1px solid grey;
    
}



#carousel-2 > .carousel-item {
  display: grid !important;
  grid-template-columns: 1fr 3fr !important ;
  
}

#Testimonials{
    text-align: center;
    margin: 5vh auto;
}

#footer{
    height: 40vh;
    width: 100%;
    background-color: #121272;
    margin: 6vh 0 0 0 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1vh 15vw;
}

#footer > #col3{
    color: white;
    
    margin-left: 5vw;
    display: block;
}

#footer > #col3 > img{
    height: 10vh;
    width: 20vw;
    margin: 5vh auto;
    border-radius: 10%;
}

#footer > #col4{
    color: white;
    margin-left: 5vw;
    margin-top: 1vh;
} 
#footer > #col4 > h2{
    margin: 5vh 0;
}

#footer > #col4 > ul > li{
    list-style-type: none;
    margin: 3vh 0;
}

 /* About us style */

#about > img{
    width: 100%;
    height: 75vh;
}

#banner{
    width: 100%;
    height: 85vh !important;
    background-image: url("https://res.cloudinary.com/dxkf8bjwl/image/upload/v1643817119/Digi%20School/Untitled_design_1_yyuamr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:  0;
    text-align: center;
}

#banner > h2{
    text-align: center;
}

#banner > span > p{
    text-align: center;
    margin: 3vh 0;
    color: white;
}

#banner > span > button{
    
    background-color: yellow;
    height: 5vh;
    color: black;

}

#vision {
    height: 50vh;
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: 5vh 0;
    
}

#vision > section > col{
    margin-top: 5px;
}

#vision > .col > i{
    font-size: 4rem;
    color: rgb(63, 63, 243);
}

#profile {
    height: 50vh;
    width: 100%;
}

#profile > h2{
    text-align: center;
    color: blue;
}

#profile > .team > img{
    border-radius: 100%;
    height: 12vw;
    width: 12vw;
    margin-top: 5vh;
    margin-left: 43vw;
}

#profile > .team > h2{
    margin-left: 43vw;
}

#profile > .team > p{
    margin-left: 44vw;
}

#profile > .team > button{
    margin-top: 15vh;
    margin-left: 45vw;
    background-color: rgb(248, 232, 4);
    height: 5vh;
    width: 9vw;
}

#footer1{
    height: auto;
    width: 100%;
    background-color: #121272;
    margin: 20vh 0 0 0 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1vh 15vw;
}

#footer1 > #col3{
    color: white;
    
    margin-left: 5vw;
    display: block;
}

#footer1 > #col3 > img{
    height: 10vh;
    width: 20vw;
    margin: 5vh auto;
    border-radius: 10%;
}

#footer1 > #col4{
    color: white;
    margin-left: 5vw;
    margin-top: 1vh;
} 
#footer1 > #col4 > h2{
    margin: 5vh 0;
}

#footer1 > #col4 > ul > li{
    list-style-type: none;
    margin: 3vh 0;
}

/* Contact us styling */

#Query{
    width: 50vw;
    height: 80vh;
    margin: 10vh auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#Send{
    width: auto;
    background-color: rgb(0, 2, 116);
}

#Send > h3{
    text-align: center;
    color: white;
    margin-top: 5vh;
}

#Send > p{
    color: white;
    text-align: center;
    margin-top: 3vh;
}

#details > .col1{
    display:flex;
    color: white;
    margin-top: 3vh ;
}

#details > .col1 > i{
    margin: 0 1vw;
}

#details > .col2{
    color: white;
    display: flex;
    margin: 5vh 0;
}

#details > .col2 > i{
    margin: 0 1vw;
}

#details > .col3{
    display:flex ;
    color: white;
    margin: 5vh 0;
}

#details > .col3 > i{
    margin: 0 1vw;
}



#Query > #info > form > .name{
    margin-left: 5vw;
}

.fname{
    display: block;
    margin: auto;
    margin: 5vh 5vw;
}

.sendQuery{
    margin-left: 5vw;
}

#info > form{
    padding-top: 10vh;
}

#sign > #user{
    width: 55vw;
    height: auto;
    border: 1px solid black;
    margin: 10vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#sign > #user > .account{
    width: auto;
    background-color: darkblue;
    color: white;
    height: auto;
}

#sign > #user > .account > h4{
    text-align: center;
    margin: 9vh;
}

#sign > #user > .account > p{
    text-align: center;
}

.form{
    height: 100%;
    width: 100%;
    padding: 22px;
    margin: 5vh 0;
    
}

.form > button{
    margin-top: 3vh;
    width: auto;
    
}


.form > input {
    width: 15vw;
    margin: 1vh 0
}


@media only screen and (max-width:768px)  {
    #navbar-list > a{
        margin: 10px 0 10px 10px !important;
    }        

    .carousel-item > img{
        height: 58vh;
    }

    .navbar-toggler {
    border: 1px solid black !important
    }

    .navbar-toggler-icon{
        border: 1px solid lightgrey;
    }

    .image{
        margin-left: 2vw !important;
        height: 13vw;
        width: 13vw;
    }

    #carousel-2{
        width: 90% !important;
        height: 25vh;
    }

    .col2{
    margin-bottom: 10vh !important;
    }

    #footer{
        height: 50vh;
        width: 100vw;
        padding: 0;

    }
    
    #vision{
        display: block;
        height: auto;
    }

    #profile > .team > h2{
        margin-left: 37vw;
    }

    #profile > .team > p{
        margin-left: 40vw;
    }

    #profile > .team > button{
        width: 16vw;
        margin-left: 42vw;
    }

    #footer1{
        padding: 1px;
    }


    #Query{
        width: 90%;
    }
    }

    @media only screen and (max-width:430px){
        #logo{
            width: 20vw !important;
            height: 10vh;
        }
        .nav-2 > a{
            padding-left: 10px !important;
        }
        .carousel-item > img{
                height: 39vh;
        }

        #points{
            display: block;
            margin: 3vh auto;
            
        }

        #intro > h4{
            font-size: 1rem;
        }

        #teacher{
            display: block !important;
        }

        .image{
            width: 25vw !important;
            height: 25vw !important;
            margin-left: 35vw !important;
        }
        /* #carousel-2{
            height: 30vh;
        } */

         #footer{
            height: auto;
            display: block;
        } 

        .carousel-item {
            display: block !important;
        }
        
        #vision {
            margin-top: 10vh;
            padding: 5px !important;
        }

        #profile > .team > h2{
            margin-left: 35vw;
        }

        #profile > .team > p{
            margin-left: 35vw;
        }
        #profile > .team > button{
            margin: 5vh;
            margin-left: 38vw;
            width: 26vw !important;
        }

        #profile > .team > img{
            height: 20vw;
            width: 20vw;
        }

        #footer1{
            display: block;
        }

        #Query{
            display: grid;
            grid-template-columns: 1fr;
            height: auto;
        }

        #info > button{
            margin: 5vh 0;
        }
        

       

    }

@media only screen and (max-width:1030px){
    #profile > .team > button {
        width: 20vw;
        margin-left: 40vw;
    }
    }  